@import '../../../../scss/import.scss';

::ng-deep app-select {
  display: block;
}

.select {
  select {
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
    font-family: $defaultFamily;
    border: 2px solid $borderColor;
    &.-error {
      border-color: $warningColor;
    }
  }
  &__label {
  }
}
