@import '../../../../scss/import.scss';

::ng-deep app-radiobox {
  @include hidden;
  display: block;
}

.radiobox {
  &__label {
    @include label;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -4px 0;
  }
  &__wrapper-list {
    margin: 4px 24px 4px 0;
    input {
      display: none;
      &:checked {
        & + label {
          fa-icon {
            color: $brandColor;
            &:nth-of-type(1) {
              display: none;
            }
            &:nth-of-type(2) {
              display: block;
            }
          }
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      text-align: center;
      cursor: pointer;
    }
    fa-icon {
      font-size: 20px;
      color: $borderColor;
      background: white;
      border-radius: 50%;
      &:nth-of-type(2) {
        display: none;
      }
    }
    span {
      @include empty;
      line-height: 1;
      margin-left: 8px;
      font-size: 14px;
      white-space: nowrap;
    }
  }
}
