<div class="radiobox">
  <p class="radiobox__label" [class.-required]="required" *ngIf="label !== null">{{ label }}</p>
  <ul class="radiobox__wrapper">
    <li class="radiobox__wrapper-list" [class.-disabled]="option.disabled" *ngFor="let option of options">
      <input
        #radiobox
        type="radio"
        [name]="name"
        [value]="option.value"
        [id]="name + '-' + option.value"
        [disabled]="option.disabled"
        (input)="onChange(radiobox.value)"
      /><label [for]="name + '-' + option.value"
        ><fa-icon [icon]="faCircle"></fa-icon><fa-icon [icon]="faDotCircle"></fa-icon><span>{{ option.label }}</span></label
      >
    </li>
  </ul>
</div>
