<div class="inputRange" [ngClass]="{ '-readonly': isReadOnly, '-disabled': isDisabled, '-side': isSideLayout }" [formGroup]="formGroup">
  <p class="inputRange__label" [class.-required]="required">{{ label }}</p>
  <div class="inputRange__wrapper">
    <app-input [type]="type" [unit]="unit" [status]="status" formControlName="from"></app-input>
    <div class="inputRange__wrapper-dash">〜</div>
    <app-input [type]="type" [unit]="unit" [status]="status" formControlName="to"></app-input>
  </div>
  <p class="inputRange__error" *ngIf="formGroup.touched">{{ validationService.getErrorMessage(formGroup.errors) }}</p>
</div>
