@import '../../../../../../../src//scss/import.scss';

::ng-deep lib-file {
  @include hidden;
  display: block;
}

.file {
  @include form;
  &__wrapper {
    display: flex;
    align-items: center;
    min-width: 0;
  }
  &__wrapper-label {
    margin-right: 8px;
    cursor: pointer;
    &.-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  &__wrapper-input {
    display: none;
  }
  &__wrapper-preview {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__error {
    @include error;
  }
}
