@import '../../../../scss/import.scss';

::ng-deep app-file {
  @include hidden;

  display: block;
}

.file {
  @include form;

  &__wrapper {
    display: flex;
    align-items: center;
    min-width: 0;
  }

  &__wrapper-label {
    margin-right: 8px;
    cursor: pointer;

    &.-disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__wrapper-input {
    display: none;
  }

  &__wrapper-preview {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__error {
    @include error;
  }
}
