@import '../../../scss/import.scss';

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
  &__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(#203347, 0.4);
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
  }
  &__wrapper {
    position: relative;
    width: 600px;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 3px 12px $shadowColor;
    opacity: 0;
    transform: scale(0.25);
    transition: 0.3s;
    pointer-events: none;
  }
  &__heading {
    line-height: 60px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid $borderColor;
  }
  &__content {
    max-height: calc(100vh - 60px - 200px);
    padding: 24px 30px;
    overflow-y: scroll;
  }
  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 192px;
    max-height: calc(80vh - 61px);
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
    border-top: 1px solid $borderColor;
    &-wrapper {
      display: flex;
      align-items: center;
      app-button {
        margin-left: 10px;
      }
    }
  }
  &.-on & {
    &__filter {
      opacity: 1;
      pointer-events: auto;
    }
    &__wrapper {
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
    }
  }
  &.-large & {
    &__wrapper {
      width: $largeWidth;
    }
  }
}
