@import '../../../scss/import.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  &__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: rgb(var(--color-bg-canvas) 0.4);
    opacity: 0;
    transition: 0.3s;
  }

  &__content {
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    transform: scale(0.25);
  }

  &.-on & {
    &__filter {
      pointer-events: auto;
      opacity: 1;
    }

    &__content {
      pointer-events: auto;
      opacity: 1;
      transform: scale(1);
    }
  }
}
