@import '../../../../scss/import.scss';

::ng-deep app-checkbox {
  display: block;
}

.checkbox {
  &__label {
    @include label;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -4px 0;
  }
  &__wrapper-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 4px 24px 4px 0;
    font-size: 14px;
    cursor: pointer;
    input {
      display: none;
      &:checked {
        + fa-icon {
          color: $brandColor;
        }
      }
      &:disabled {
        + fa-icon {
          color: $fontColor;
        }
      }
    }
    fa-icon {
      font-size: 20px;
      color: $borderColor;
      background: white;
    }
    p {
      margin-left: 8px;
    }
  }
  &.-fixed & {
    &__wrapper-list {
      width: 170px;
    }
  }
}
