<div class="text" [ngClass]="{ '-readonly': isReadOnly, '-disabled': isDisabled }">
  <p class="text__label" [class.-required]="required" *ngIf="label !== null">{{ label }}</p>
  <div class="text__wrapper">
    <div class="text__wrapper-wrapper">
      <input
        #text
        class="text__wrapper-input"
        [class.-error]="control?.touched && control?.invalid"
        [type]="type"
        [placeholder]="placeholder"
        [disabled]="isDisabled"
        (input)="onChange(text.value)"
        (blur)="onTouched(text.value)"
        [hidden]="isReadOnly"
      />
      <fa-icon class="text__wrapper-calendar" [icon]="faCalendarAlt" *ngIf="isDateType || isMonthType"></fa-icon>
      <p class="text__wrapper-unit">{{ unit }}</p>
    </div>
    <p class="text__wrapper-readonly" *ngIf="isReadOnly">{{ getReadOnlyLabel(text.value) }}</p>
    <p class="text__wrapper-error" *ngIf="control?.touched">{{ this.validationMessageService.getErrorMessage(control.errors) }}</p>
  </div>
</div>
