@import '../../../../scss/import.scss';

::ng-deep app-text {
  @include hidden;
  display: block;
}

.text {
  @include form();
  &__wrapper-input {
    &[type='date'],
    &[type='month'] {
      padding-right: 16px;
      &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: -24px;
        width: 100%;
        height: 32px;
        opacity: 0;
        cursor: pointer;
      }
    }
    &[type='number'] {
      width: 120px;
      min-width: auto;
      text-align: right;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        display: none;
      }
    }
  }
  &__wrapper-calendar {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(0, -50%);
    pointer-events: none;
  }
  &.-readonly & {
    &__wrapper-calendar {
      display: none;
    }
  }
}
