@import '../../../../scss/import.scss';

.modalLayout {
  @include wrapper;
  position: relative;
  width: 600px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--color-border-primary);
}
.loading {
  padding: 24px 30px;
}
.content {
  max-height: calc(100vh - 60px - 200px);
  padding: 24px 30px;
  overflow-y: scroll;
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 30px;
  border-top: 1px solid var(--color-border-primary);
  &__wrapper {
    display: flex;
    align-items: center;
    @include not-first-child {
      margin-left: 10px;
    }
  }
}
