<div class="sample" [formGroup]="formGroup">
  <app-text label="TEXT" formControlName="text"></app-text>
  <app-text label="EMAIL" formControlName="email"></app-text>
  <app-text type="number" label="NUMBER" unit="UNIT" formControlName="number"></app-text>
  <app-text type="date" label="DATE" formControlName="date"></app-text>
  <app-text type="month" label="MONTH" formControlName="month"></app-text>
  <app-textarea label="TEXTAREA" formControlName="textarea"></app-textarea>
  <app-select label="SELECT" blank="" [options]="options" formControlName="select"></app-select>
  <app-checkbox label="CHECKBOX" [options]="options" formControlName="checkbox"></app-checkbox>
  <app-radiobox name="radiobox" label="RADIOBOX" [options]="options" formControlName="radiobox"></app-radiobox>
  <app-file label="FILE" formControlName="files"></app-file>
  <app-button-wrapper>
    <app-button type="option">BUTTON</app-button>
    <app-button (clickButton)="submit()">BUTTON</app-button>
  </app-button-wrapper>
</div>
