<div class="sample" [formGroup]="formGroup">
  <app-input label="Text" [status]="status" formControlName="text"></app-input>
  <app-input label="List" [options]="service.options()" [status]="status" formControlName="list"></app-input>
  <app-input label="Email" [status]="status" formControlName="email"></app-input>
  <app-input label="Number" [type]="inputTypeEnum.NUMBER" unit="UNIT" [status]="status" formControlName="number"></app-input>
  <app-input label="Date" [type]="inputTypeEnum.DATE" [status]="status" formControlName="date"></app-input>
  <app-input label="Month" [type]="inputTypeEnum.MONTH" [status]="status" formControlName="month"></app-input>
  <app-input-range label="InputRange" [type]="inputTypeEnum.DATE" [status]="status" formGroupName="inputRange"></app-input-range>
  <app-textarea label="Textarea" [status]="status" formControlName="textarea"></app-textarea>
  <app-select label="Select" blank="" [options]="service.options()" [status]="status" formControlName="select"></app-select>
  <app-checkbox label="Checkbox" [options]="service.options()" [status]="status" formControlName="checkbox"></app-checkbox>
  <app-radiobox label="Radiobox" [options]="service.options()" [status]="status" formControlName="radiobox"></app-radiobox>
  <app-range label="Range" [status]="formStatusEnum.DISABLED" [status]="status" formControlName="range"></app-range>
  <app-file label="File" [status]="status" formControlName="files"></app-file>
  <app-button-wrapper>
    <app-radiobox [options]="service.statusOptions()" formControlName="status"></app-radiobox>
    <app-button [type]="buttonTypeENum.OPTION" (clickButton)="modalSampleService.open()">Modal</app-button>
    <app-button [type]="buttonTypeENum.OPTION" (clickButton)="reset()">Reset</app-button>
    <app-button [isDisabled]="service.sending()" (clickButton)="submit()">Submit</app-button>
  </app-button-wrapper>
</div>
