@import '../../../../scss/import.scss';

.form {
  padding: 40px;
  &__wrapper {
    > * {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
  &__button {
    margin-top: 20px;
  }
  &__value {
    margin-top: 20px;
  }
}
