<div class="accountIndex" *ngIf="query.select() | async as state">
  <div class="search">
    <div class="search__wrapper" [formGroup]="formGroup">
      <app-select
        label="Authority"
        blank=""
        [options]="appQuery.select('authorityOptions') | async"
        formControlName="authority"
      ></app-select>
    </div>
    <div class="search__wrapper"></div>
  </div>
  <ng-container *ngIf="state.loading">
    <div class="loading">
      <app-loading></app-loading>
    </div>
  </ng-container>
  <ng-container *ngIf="!state.loading">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>CREATED_AT</th>
        <th>UPDATED_AT</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>AUTHORITY</th>
        <th></th>
      </tr>
      <tr *ngFor="let account of state.accounts">
        <td>{{ account.id }}</td>
        <td>{{ account.created_at?.toDate() | date: dateFormat }}</td>
        <td>{{ account.updated_at?.toDate() | date: dateFormat }}</td>
        <td>{{ account.name }}</td>
        <td>{{ account.email }}</td>
        <td>{{ getAuthorityLabel(account.authority) }}</td>
        <td>
          <app-option></app-option>
        </td>
      </tr>
    </table>
  </ng-container>
</div>
