@import '../../../../scss/import.scss';

.option {
  position: relative;
  display: inline-block;

  &__icon {
    width: 27px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;

    fa-icon {
      display: block;
      font-size: 14px;
      color: $grayColor;
    }
  }

  &__menu {
    position: absolute;
    right: -10px;
    bottom: 26px;
    z-index: 10;
    width: 100px;
    pointer-events: none;
    background: white;
    border-radius: 6px;
    box-shadow: 0 3px 12px $shadowColor;
    opacity: 0;
    transition: 0.2s;

    ::ng-deep {
      > * {
        position: relative;
        padding-left: 30px;
        font-size: 12px;
        line-height: 40px;
        text-align: left;
        cursor: pointer;

        &::before {
          position: absolute;
          top: 50%;
          left: 13px;
          width: 9px;
          height: 9px;
          content: '';
          background: #97a4b7;
          border-radius: 50%;
          transform: translate(0, -50%);
        }

        &:hover {
          text-decoration: underline;
        }

        &.-warning {
          &::before {
            background: $warningColor;
          }
        }
      }
    }
  }

  &:hover & {
    &__menu {
      pointer-events: auto;
      opacity: 1;
    }
  }
}
