:root[theme='dark'] {
  --color-text-primary: #c9d1d9;
  --color-text-secondary: #8b949e;
  --color-text-tertiary: #8b949e;
  --color-text-placeholder: #484f58;
  --color-text-disabled: #484f58;
  --color-text-inverse: #0d1117;
  --color-text-link: #58a6ff;
  --color-text-danger: #f85149;
  --color-text-success: #56d364;
  --color-text-warning: #e3b341;
  --color-text-white: #f0f6fc;
  --color-icon-primary: #c9d1d9;
  --color-icon-secondary: #6e7681;
  --color-icon-tertiary: #484f58;
  --color-icon-info: #58a6ff;
  --color-icon-danger: #f85149;
  --color-icon-success: #56d364;
  --color-icon-warning: #e3b341;
  --color-border-primary: #30363d;
  --color-border-secondary: #21262d;
  --color-border-tertiary: #6e7681;
  --color-border-overlay: #30363d;
  --color-border-inverse: #f0f6fc;
  --color-border-info: rgba(56, 139, 253, 0.4);
  --color-border-danger: rgba(248, 81, 73, 0.4);
  --color-border-success: rgba(63, 185, 80, 0.4);
  --color-border-warning: rgba(187, 128, 9, 0.4);
  --color-bg-canvas: #0d1117;
  --color-bg-canvas-mobile: #010409;
  --color-bg-canvas-inverse: #f0f6fc;
  --color-bg-canvas-inset: #090c10;
  --color-bg-primary: #0d1117;
  --color-bg-secondary: #0d1117;
  --color-bg-tertiary: #161b22;
  --color-bg-overlay: #1c2128;
  --color-bg-backdrop: rgba(1, 4, 9, 0.8);
  --color-bg-info: rgba(56, 139, 253, 0.1);
  --color-bg-info-inverse: #388bfd;
  --color-bg-danger: rgba(248, 81, 73, 0.1);
  --color-bg-danger-inverse: #da3633;
  --color-bg-success: rgba(46, 160, 67, 0.1);
  --color-bg-success-inverse: #2ea043;
  --color-bg-warning: rgba(187, 128, 9, 0.1);
  --color-bg-warning-inverse: #bb8009;
  --color-shadow-small: 0 0 transparent;
  --color-shadow-medium: 0 3px 6px #010409;
  --color-shadow-large: 0 8px 24px #010409;
  --color-shadow-extra-large: 0 12px 48px #010409;
  --color-shadow-highlight: 0 0 transparent;
  --color-shadow-inset: 0 0 transparent;
  --color-alert-info-text: #79c0ff;
  --color-alert-info-icon: #79c0ff;
  --color-alert-info-bg: rgba(56, 139, 253, 0.1);
  --color-alert-info-border: rgba(56, 139, 253, 0.4);
  --color-alert-warn-text: #e3b341;
  --color-alert-warn-icon: #e3b341;
  --color-alert-warn-bg: rgba(187, 128, 9, 0.1);
  --color-alert-warn-border: rgba(187, 128, 9, 0.4);
  --color-alert-error-text: #ff7b72;
  --color-alert-error-icon: #ff7b72;
  --color-alert-error-bg: rgba(248, 81, 73, 0.1);
  --color-alert-error-border: rgba(248, 81, 73, 0.4);
  --color-alert-success-text: #56d364;
  --color-alert-success-icon: #56d364;
  --color-alert-success-bg: rgba(46, 160, 67, 0.1);
  --color-alert-success-border: rgba(46, 160, 67, 0.4);
  --color-btn-text: #c9d1d9;
  --color-btn-bg: #21262d;
  --color-btn-border: #30363d;
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: #30363d;
  --color-btn-hover-border: #8b949e;
  --color-btn-active-bg: #282e33;
  --color-btn-active-border: #6e7681;
  --color-btn-selected-bg: #161b22;
  --color-btn-focus-bg: #21262d;
  --color-btn-focus-border: #8b949e;
  --color-btn-focus-shadow: 0 0 0 3px rgba(139, 148, 158, 0.3);
  --color-btn-shadow-active: inset 0 0.15em 0.3em rgba(1, 4, 9, 0.15);
  --color-btn-shadow-input-focus: 0 0 0 0.2em rgba(31, 111, 235, 0.3);
  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: #238636;
  --color-btn-primary-border: #2ea043;
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #2ea043;
  --color-btn-primary-hover-border: #3fb950;
  --color-btn-primary-selected-bg: #238636;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: rgba(240, 246, 252, 0.5);
  --color-btn-primary-disabled-bg: rgba(35, 134, 54, 0.6);
  --color-btn-primary-disabled-border: transparent;
  --color-btn-primary-focus-bg: #238636;
  --color-btn-primary-focus-border: #3fb950;
  --color-btn-primary-focus-shadow: 0 0 0 3px rgba(46, 164, 79, 0.4);
  --color-btn-primary-icon: #f0f6fc;
  --color-btn-primary-counter-bg: rgba(240, 246, 252, 0.2);
  --color-btn-outline-text: #58a6ff;
  --color-btn-outline-hover-text: #58a6ff;
  --color-btn-outline-hover-bg: #30363d;
  --color-btn-outline-hover-border: #58a6ff;
  --color-btn-outline-hover-shadow: 0 1px 0 rgba(1, 4, 9, 0.1);
  --color-btn-outline-hover-inset-shadow: inset 0 1px 0 rgba(240, 246, 252, 0.03);
  --color-btn-outline-hover-counter-bg: rgba(240, 246, 252, 0.2);
  --color-btn-outline-selected-text: #f0f6fc;
  --color-btn-outline-selected-bg: #0d419d;
  --color-btn-outline-selected-border: rgba(240, 246, 252, 0.1);
  --color-btn-outline-selected-shadow: 0 0 transparent;
  --color-btn-outline-disabled-text: rgba(88, 166, 255, 0.5);
  --color-btn-outline-disabled-bg: #0d1117;
  --color-btn-outline-disabled-counter-bg: rgba(31, 111, 235, 0.05);
  --color-btn-outline-focus-border: #58a6ff;
  --color-btn-outline-focus-shadow: 0 0 0 3px rgba(17, 88, 199, 0.4);
  --color-btn-outline-counter-bg: rgba(31, 111, 235, 0.1);
  --color-btn-danger-text: #f85149;
  --color-btn-danger-hover-text: #fff;
  --color-btn-danger-hover-bg: #da3633;
  --color-btn-danger-hover-border: #f85149;
  --color-btn-danger-hover-shadow: 0 0 transparent;
  --color-btn-danger-hover-inset-shadow: 0 0 transparent;
  --color-btn-danger-hover-counter-bg: rgba(255, 255, 255, 0.2);
  --color-btn-danger-selected-text: #fff;
  --color-btn-danger-selected-bg: #b62324;
  --color-btn-danger-selected-border: rgba(240, 246, 252, 0.1);
  --color-btn-danger-selected-shadow: 0 0 transparent;
  --color-btn-danger-disabled-text: rgba(248, 81, 73, 0.5);
  --color-btn-danger-disabled-bg: #0d1117;
  --color-btn-danger-disabled-counter-bg: rgba(218, 54, 51, 0.05);
  --color-btn-danger-focus-border: #f85149;
  --color-btn-danger-focus-shadow: 0 0 0 3px rgba(182, 35, 36, 0.4);
  --color-btn-danger-counter-bg: rgba(218, 54, 51, 0.1);
  --color-btn-danger-icon: #f85149;
  --color-btn-danger-hover-icon: #f0f6fc;
  --color-btn-counter-bg: #30363d;
  --color-dropdown-shadow: 0 16px 32px rgba(1, 4, 9, 0.85);
  --color-overlay-shadow: 0 0 0 1px #30363d, 0 16px 32px rgba(1, 4, 9, 0.85);
  --color-label-border: #30363d;
  --color-label-primary-text: #b1bac4;
  --color-label-primary-border: #6e7681;
  --color-label-secondary-text: #8b949e;
  --color-label-secondary-border: #30363d;
  --color-label-info-text: #388bfd;
  --color-label-info-border: rgba(56, 139, 253, 0.4);
  --color-label-success-text: #3fb950;
  --color-label-success-border: rgba(46, 160, 67, 0.4);
  --color-label-warning-text: #e3b341;
  --color-label-warning-border: rgba(242, 211, 91, 0.4);
  --color-label-danger-text: #f85149;
  --color-label-danger-border: rgba(248, 81, 73, 0.4);
  --color-label-orange-text: #db6d28;
  --color-label-orange-border: rgba(219, 109, 40, 0.4);
  --color-input-bg: #0d1117;
  --color-input-contrast-bg: rgba(1, 4, 9, 1);
  --color-input-border: #21262d;
  --color-input-shadow: 0 0 transparent;
  --color-input-disabled-bg: #161b22;
  --color-input-disabled-border: #30363d;
  --color-input-warning-border: #d29922;
  --color-input-error-border: #f85149;
  --color-input-tooltip-success-text: #56d364;
  --color-input-tooltip-success-bg: #101f1b;
  --color-input-tooltip-success-border: #1c532b;
  --color-input-tooltip-warning-text: #e3b341;
  --color-input-tooltip-warning-bg: #1e1c16;
  --color-input-tooltip-warning-border: #5d4411;
  --color-input-tooltip-error-text: #ff7b72;
  --color-input-tooltip-error-bg: #25171c;
  --color-input-tooltip-error-border: #792e2e;
}
