:root {
  --color-text-primary: #24292e;
  --color-text-secondary: #586069;
  --color-text-tertiary: #6a737d;
  --color-text-placeholder: #6a737d;
  --color-text-disabled: #959da5;
  --color-text-inverse: #fff;
  --color-text-link: #0366d6;
  --color-text-danger: #cb2431;
  --color-text-success: #22863a;
  --color-text-warning: #b08800;
  --color-text-white: #fff;
  --color-icon-primary: #24292e;
  --color-icon-secondary: #586069;
  --color-icon-tertiary: #959da5;
  --color-icon-info: #0366d6;
  --color-icon-danger: #d73a49;
  --color-icon-success: #22863a;
  --color-icon-warning: #b08800;
  --color-border-primary: #e1e4e8;
  --color-border-secondary: #ebedef;
  --color-border-tertiary: #d1d5da;
  --color-border-overlay: #e1e4e8;
  --color-border-inverse: #fff;
  --color-border-info: #0366d6;
  --color-border-danger: #d73a49;
  --color-border-success: #34d058;
  --color-border-warning: #f9c513;
  --color-bg-canvas: #fff;
  --color-bg-canvas-mobile: #fff;
  --color-bg-canvas-inverse: #24292e;
  --color-bg-canvas-inset: #f6f8fa;
  --color-bg-primary: #fff;
  --color-bg-secondary: #fafbfc;
  --color-bg-tertiary: #f6f8fa;
  --color-bg-overlay: #fff;
  --color-bg-backdrop: rgb(27 31 35 / 50%);
  --color-bg-info: #f1f8ff;
  --color-bg-info-inverse: #0366d6;
  --color-bg-danger: #ffeef0;
  --color-bg-danger-inverse: #d73a49;
  --color-bg-success: #dcffe4;
  --color-bg-success-inverse: #28a745;
  --color-bg-warning: #fff5b1;
  --color-bg-warning-inverse: #ffd33d;
  --color-shadow-small: 0 1px 0 rgb(27 31 35 / 4%);
  --color-shadow-medium: 0 3px 6px rgb(149 157 165 / 15%);
  --color-shadow-large: 0 8px 24px rgb(149 157 165 / 20%);
  --color-shadow-extra-large: 0 12px 48px rgb(149 157 165 / 30%);
  --color-shadow-highlight: inset 0 1px 0 rgb(255 255 255 / 25%);
  --color-shadow-inset: inset 0 1px 0 rgb(225 228 232 / 20%);
  --color-state-hover-primary-bg: #0366d6;
  --color-state-hover-primary-border: #0366d6;
  --color-state-hover-primary-text: #fff;
  --color-state-hover-primary-icon: #fff;
  --color-state-hover-secondary-bg: #f6f8fa;
  --color-state-hover-secondary-border: #f6f8fa;
  --color-state-selected-primary-bg: #0366d6;
  --color-state-selected-primary-border: #0366d6;
  --color-state-selected-primary-text: #fff;
  --color-state-selected-primary-icon: #fff;
  --color-state-focus-border: #0366d6;
  --color-state-focus-shadow: 0 0 0 3px rgb(3 102 214 / 30%);
  --color-alert-info-text: #24292e;
  --color-alert-info-icon: rgb(4 66 137 / 60%);
  --color-alert-info-bg: #dbedff;
  --color-alert-info-border: rgb(4 66 137 / 20%);
  --color-alert-warn-text: #24292e;
  --color-alert-warn-icon: #b08800;
  --color-alert-warn-bg: #fffbdd;
  --color-alert-warn-border: rgb(176 136 0 / 20%);
  --color-alert-error-text: #24292e;
  --color-alert-error-icon: rgb(158 28 35 / 60%);
  --color-alert-error-bg: #ffe3e6;
  --color-alert-error-border: rgb(158 28 35 / 20%);
  --color-alert-success-text: #24292e;
  --color-alert-success-icon: rgb(23 111 44 / 80%);
  --color-alert-success-bg: #dcffe4;
  --color-alert-success-border: rgb(23 111 44 / 20%);
  --color-autocomplete-shadow: 0 3px 6px rgb(149 157 165 / 15%);
  --color-autocomplete-row-border: #ebedef;
  --color-blankslate-icon: #757f8a;
  --color-btn-text: #24292e;
  --color-btn-bg: #fafbfc;
  --color-btn-border: rgb(27 31 35 / 15%);
  --color-btn-shadow: 0 1px 0 rgb(27 31 35 / 4%);
  --color-btn-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 25%);
  --color-btn-hover-bg: #f3f4f6;
  --color-btn-hover-border: rgb(27 31 35 / 15%);
  --color-btn-active-bg: #ebecf0;
  --color-btn-active-border: rgb(27 31 35 / 10%);
  --color-btn-selected-bg: #eeeff2;
  --color-btn-focus-bg: #fafbfc;
  --color-btn-focus-border: rgb(27 31 35 / 15%);
  --color-btn-focus-shadow: 0 0 0 3px rgb(3 102 214 / 30%);
  --color-btn-shadow-active: inset 0 0.15em 0.3em rgb(27 31 35 / 15%);
  --color-btn-shadow-input-focus: 0 0 0 0.2em rgb(3 102 214 / 30%);
  --color-btn-counter-bg: rgb(27 31 35 / 8%);
  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: #2ea44f;
  --color-btn-primary-border: rgb(27 31 35 / 15%);
  --color-btn-primary-shadow: 0 1px 0 rgb(27 31 35 / 10%);
  --color-btn-primary-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 3%);
  --color-btn-primary-hover-bg: #2c974b;
  --color-btn-primary-hover-border: rgb(27 31 35 / 15%);
  --color-btn-primary-selected-bg: #298e46;
  --color-btn-primary-selected-shadow: inset 0 1px 0 rgb(20 70 32 / 20%);
  --color-btn-primary-disabled-text: rgb(255 255 255 / 80%);
  --color-btn-primary-disabled-bg: #94d3a2;
  --color-btn-primary-disabled-border: rgb(27 31 35 / 10%);
  --color-btn-primary-focus-bg: #2ea44f;
  --color-btn-primary-focus-border: rgb(27 31 35 / 15%);
  --color-btn-primary-focus-shadow: 0 0 0 3px rgb(46 164 79 / 40%);
  --color-btn-primary-icon: rgb(255 255 255 / 80%);
  --color-btn-primary-counter-bg: rgb(255 255 255 / 20%);
  --color-btn-outline-text: #0366d6;
  --color-btn-outline-hover-text: #fff;
  --color-btn-outline-hover-bg: #0366d6;
  --color-btn-outline-hover-border: rgb(27 31 35 / 15%);
  --color-btn-outline-hover-shadow: 0 1px 0 rgb(27 31 35 / 10%);
  --color-btn-outline-hover-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 3%);
  --color-btn-outline-hover-counter-bg: rgb(255 255 255 / 20%);
  --color-btn-outline-selected-text: #fff;
  --color-btn-outline-selected-bg: #035fc9;
  --color-btn-outline-selected-border: rgb(27 31 35 / 15%);
  --color-btn-outline-selected-shadow: inset 0 1px 0 rgb(5 38 76 / 20%);
  --color-btn-outline-disabled-text: rgb(3 102 214 / 50%);
  --color-btn-outline-disabled-bg: #fafbfc;
  --color-btn-outline-disabled-counter-bg: rgb(3 102 214 / 5%);
  --color-btn-outline-focus-border: rgb(27 31 35 / 15%);
  --color-btn-outline-focus-shadow: 0 0 0 3px rgb(0 92 197 / 40%);
  --color-btn-outline-counter-bg: rgb(3 102 214 / 10%);
  --color-btn-danger-text: #d73a49;
  --color-btn-danger-hover-text: #fff;
  --color-btn-danger-hover-bg: #cb2431;
  --color-btn-danger-hover-border: rgb(27 31 35 / 15%);
  --color-btn-danger-hover-shadow: 0 1px 0 rgb(27 31 35 / 10%);
  --color-btn-danger-hover-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 3%);
  --color-btn-danger-hover-counter-bg: rgb(255 255 255 / 20%);
  --color-btn-danger-selected-text: #fff;
  --color-btn-danger-selected-bg: #d53040;
  --color-btn-danger-selected-border: rgb(27 31 35 / 15%);
  --color-btn-danger-selected-shadow: inset 0 1px 0 rgb(134 24 29 / 20%);
  --color-btn-danger-disabled-text: rgb(215 58 73 / 50%);
  --color-btn-danger-disabled-bg: #fafbfc;
  --color-btn-danger-disabled-counter-bg: rgb(215 58 73 / 5%);
  --color-btn-danger-focus-border: rgb(27 31 35 / 15%);
  --color-btn-danger-focus-shadow: 0 0 0 3px rgb(203 36 49 / 40%);
  --color-btn-danger-counter-bg: rgb(215 58 73 / 10%);
  --color-btn-danger-icon: #d73a49;
  --color-btn-danger-hover-icon: #fff;
  --color-dropdown-shadow: 0 8px 24px rgb(149 157 165 / 20%);
  --color-overlay-shadow: 0 1px 3px rgb(27 31 35 / 12%), 0 8px 24px rgb(68 77 86 / 12%);
  --color-label-border: #e1e4e8;
  --color-label-primary-text: #24292e;
  --color-label-primary-border: #6a737d;
  --color-label-secondary-text: #586069;
  --color-label-secondary-border: #e1e4e8;
  --color-label-info-text: #0366d6;
  --color-label-info-border: #0366d6;
  --color-label-success-text: #22863a;
  --color-label-success-border: #28a745;
  --color-label-warning-text: #735c0f;
  --color-label-warning-border: #b08800;
  --color-label-danger-text: #d73a49;
  --color-label-danger-border: #cb2431;
  --color-label-orange-text: #c24e00;
  --color-label-orange-border: #f66a0a;
  --color-input-bg: #fff;
  --color-input-contrast-bg: #fafbfc;
  --color-input-border: #e1e4e8;
  --color-input-shadow: inset 0 1px 2px rgb(27 31 35 / 7.5%);
  --color-input-disabled-bg: #f6f8fa;
  --color-input-disabled-border: #e1e4e8;
  --color-input-warning-border: #f9c513;
  --color-input-error-border: #cb2431;
  --color-input-tooltip-success-text: #144620;
  --color-input-tooltip-success-bg: #dcffe4;
  --color-input-tooltip-success-border: #34d058;
  --color-input-tooltip-warning-text: #735c0f;
  --color-input-tooltip-warning-bg: #fff5b1;
  --color-input-tooltip-warning-border: #f9c513;
  --color-input-tooltip-error-text: #86181d;
  --color-input-tooltip-error-bg: #ffeef0;
  --color-input-tooltip-error-border: #f97583;
  --color-select-menu-border-secondary: #ebedef;
  --color-select-menu-shadow: 0 0 18px rgb(27 31 35 / 40%);
  --color-select-menu-backdrop-bg: rgb(27 31 35 / 50%);
  --color-select-menu-backdrop-border: transparent;
  --color-select-menu-tap-highlight: rgb(209 213 218 / 50%);
  --color-select-menu-tap-focus-bg: #dbedff;
}
