@mixin pc-only() {
  @media only screen and (min-width: 1144px) {
    @content;
  }
}

@mixin sp-only() {
  @media only screen and (max-width: 1144px) {
    @content;
  }
}

@mixin empty() {
  &:empty {
    display: none;
  }
}

@mixin hidden() {
  &[hidden] {
    display: none;
  }
}

@mixin not-first-child() {
  ::ng-deep {
    > * {
      &:not(:first-child) {
        @content;
      }
    }
  }
}

@mixin square() {
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

@mixin label() {
  margin-bottom: 6px;
  font-size: 12px;
  white-space: nowrap;
  color: $grayColor;
  &.-required {
    &::after {
      content: '*';
      display: inline-block;
      margin-left: 4px;
      font-weight: bold;
      color: $warningColor;
    }
  }
}

@mixin sub() {
  margin-bottom: 6px;
  line-height: 1.2;
  font-size: 12px;
}

@mixin markdown() {
  ::ng-deep {
    @include not-first-child {
      margin-top: 24px;
    }
    h1 {
      line-height: 1.5;
      font-size: 28px;
      font-weight: bold;
      @include sp-only {
        font-size: 24px;
      }
    }
    h2 {
      line-height: 1.5;
      font-size: 20px;
      font-weight: bold;
      @include sp-only {
        font-size: 16px;
      }
    }
    p {
      line-height: 1.7;
      font-size: 16px;
      @include sp-only {
        font-size: 16px;
      }
    }
    img {
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
