<ng-container *ngIf="query.select() | async as state">
  <app-modal-layout>
    <ng-container modal-header>Signin</ng-container>
    <ng-container modal-content>
      <div class="signin" [formGroup]="formGroup">
        <app-text label="Name" formControlName="name"></app-text>
        <app-text label="Email" formControlName="email"></app-text>
        <app-text label="Password" formControlName="password"></app-text>
      </div>
    </ng-container>
    <ng-container modal-footer-right>
      <app-button [isDisabled]="state.sending" (clickButton)="submit()">Submit</app-button>
    </ng-container>
  </app-modal-layout>
</ng-container>
